body {
  background: linear-gradient(-90deg, rgb(204,102,255), rgb(255,102,102));
}
th {
  background-color: rgb(255,255,255);
}
td {
  background-color:	rgb(200,200,200);
}
td a {
  color: black;
  text-decoration: none;
}
p.postbody {
  margin-left: 15%;
  border: 2px solid;
  width: 70%;
  word-wrap: break-word;
}
