<head>
  <title>Home - Vision</title>
</head>
<header>
  <h1 style="text-align: center">Home</h1>
</header>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'vision/styles.css' %}">

<table style="width:60%" align="center">
  <tr>
    <th>User</th>
    <th>Title</th>
    <th>Time</th>
  </tr>
  {% for post in post_filter %}
  <tr>
    <td class="indexinfo">{{ post.post_user }}</td>
    <td class="indexinfo">{{ post.post_title }}</td>
    <td class="indexinfo">{{ post.post_time }}</td>
  </tr>
  {% endfor %}
</table>
