<head>
  {% for post in post_filter %}
  <title>{{ post.post_title }} - Vision</title>
</head>

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'vision/styles.css' %}">

<table style="width:60%" align="center">
  <tr>
    <th id="top">{{ post.post_user }} - {{ post.post_title }}</th>
  </tr>
</table>

<p class="postbody">{{ post.post_body }}</p>
{% endfor %}

<table>
  <tr>
    <td style="border: 2px solid"><a href="#top">Top of page</a></td>
    <td style="border: 2px solid"><a href="{% url 'vision:index' %}">Back to index</a></td>
  </tr>
</table>
